body{
font-family: Arial;
background:#f3f3f3;
margin:0;
padding:40px;
}

.title{
text-align:center;
font-size:40px;
}

.subtitle{
text-align:center;
color:#777;
margin-bottom:40px;
}

.container{
display:flex;
gap:40px;
justify-content:center;
flex-wrap:wrap;
}

.form-section{
width:350px;
}

.preview-section{
width:350px;
}

label{
display:block;
margin-top:15px;
}

input{
width:100%;
padding:10px;
margin-top:5px;
}

button{
width:100%;
padding:15px;
margin-top:20px;
background:#ff4a1c;
border:none;
color:white;
font-weight:bold;
cursor:pointer;
}

button:hover{
background:#e03d14;
}

.error{
color:red;
margin-top:10px;
}

.ticket{
background:white;
padding:25px;
border-top:6px solid #ff4a1c;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.ticket-info{
display:flex;
align-items:center;
gap:15px;
margin-top:20px;
}

.avatar-placeholder{
width:70px;
height:70px;
border-radius:50%;
border:2px solid #ccc;
display:flex;
align-items:center;
justify-content:center;
font-size:12px;
}

.avatar{
width:70px;
height:70px;
border-radius:50%;
border:2px solid #ff4a1c;
}

.ticket-footer{
margin-top:20px;
display:flex;
justify-content:space-between;
}

.ticket-footer span{
color:#ff4a1c;
}

.ticket-page{
display:flex;
justify-content:center;
}

.ticket-page{
display:flex;
justify-content:center;
align-items:center;
height:70vh;
}